.header-nav {
    display: flex;
    align-items: center;
}
.header-nav__link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--primary);
    transition: 0.4s;
    margin-right: 70px;
}
.header-nav__link:hover,
.header-nav__link.active {
    color: var(--black);
    text-decoration: none;
}
.header-nav__link:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .header-nav {
        flex-wrap: wrap;
    }
    .header-nav__link {
        margin-right: 12px;
    }
}
